[class*="btn"] {
  display: inline-block;
  cursor: pointer;
}

[class*="btnFill"] {
  &[class*="Type1"] {
    padding: 0px 24px;
    height: 49px;
    font-family: $font2;
    @include font(15px, 49px, $color1, 500, null);
    text-align: center;
    background-color: $color3;
    @include transition(background-color 0.3s);

    &:hover {
      background-color: $color3-2;
    }
  }

  &[class*="Type2"] {
    padding: 0px 24px;
    height: 62px;
    font-family: $font2;
    @include font(20px, 62px, $color1, 500, -0.18px);
    text-align: center;
    background-color: $color3;
    @include border-radius(6px);
    @include box-shadow(0px 9px 20px -1px $color2-a1);
    @include transition(background-color 0.3s);

    &:hover {
      background-color: $color3-2;
    }
  }

  &[class*="Type3"] {
    padding: 0px 24px;
    height: 69px;
    font-family: $font3;
    @include font(22px, 69px, $color1, null, null);
    text-align: center;
    background-color: $color3-2;
    @include border-radius(8px);
    @include box-shadow(0px 10px 24px 0px $shadow5);
    @include transition(background-color 0.3s);

    &:hover {
      background-color: $color3;
    }
  }

  &[class*="Type4"] {
    padding: 0px 15px;
    min-width: 160px;
    height: 48px;
    font-family: $font2;
    @include font(18px, 48px, $color1, 500, null);
    text-align: center;
    background-color: $color3;
    @include border-radius(2px);
    @include box-shadow($btnShadow);
    @include transition(background-color 0.3s);

    &:hover {
      background-color: $color3-2;
    }
  }

  &[class*="Type5"] {
    padding: 0px 15px;
    min-width: 160px;
    height: 48px;
    font-family: $font2;
    @include font(18px, 48px, $color2, 500, null);
    text-align: center;
    background-color: $color1;
    @include border-radius(2px);
    @include box-shadow($btnShadow2);
    @include transition(color 0.3s);

    &:hover {
      color: $color3;
    }
  }

  &[class*="Type6"] {
    padding: 0px 15px;
    min-width: 115px;
    height: 44px;
    font-family: $font2;
    @include font(18px, 44px, $color1, 500, null);
    text-align: center;
    background-color: $color3;
    @include border-radius(6px);
    @include box-shadow(0px 9px 20px -1px $color2-a1);
    @include transition(background-color 0.3s);

    &:hover {
      background-color: $color3-2;
    }
  }

  &.full {
    width: 100%;
  }

  &.upp {
    text-transform: uppercase;
  }
}

[class*="btnIcon"] {
  &[class*="Type1"] {
    padding: 0px 22px;
    min-width: 165px;
    height: 53px;
    background-color: $color3;
    @include transition(background-color 0.3s);

    .in {
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .text {
      font-family: $font2;
      @include font(18px, 33px, $color1, 500, null);
    }

    [class*="icon"] {
      font-size: 22px;
      color: $color1;
    }

    &.sm {
      .text {
        font-size: 15px;
      }
    }

    &:hover {
      background-color: $color3-2;
    }
  }

  &[class*="Type2"] {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 40px;
    // padding-right: 14px;
    width: 487px;
    height: 109px;
    background-color: $color3-3;
    @include border-radius(10px);
    overflow: hidden;

    @media (max-width: $maxMediaMD) {
      width: 366px;
      height: 80px;
      padding-left: 20px;
      // padding-right: 10px;
    }

    @media (max-width: $maxMediaXS) {
      width: 300px;
      height: 67px;
      padding-left: 24px;
    }

    .text {
      display: inline-block;
      font-family: $font2;
      @include font(30px, 30px, $color1, bold, null);

      @media (max-width: $maxMediaMD) {
        font-size: 25px;
        line-height: 80px;
      }

      @media (max-width: $maxMediaXS) {
        font-size: 23px;
        line-height: 67px;
      }
    }

    [class*="icon"] {
      display: block;
      width: 103px;
      height: 109px;
      flex-shrink: 0;
      align-self: center;
      font-size: 33px;
      line-height: 109px;
      color: $color1;
      text-align: center;
      background-color: $color3-4;
      // @include border-radius(6px);
      @include transition(background-color 0.3s);

      @media (max-width: $maxMediaMD) {
        width: 80px;
        height: 80px;
        font-size: 20px;
        line-height: 80px;
      }

      @media (max-width: $maxMediaXS) {
        width: 63px;
        height: 67px;
        line-height: 67px;
      }
    }
  }

  &[class*="Type3"] {
    display: inline-block;
    padding-left: 18px;
    padding-right: 28px;
    height: 53px;
    background-color: $color3;
    @include transition(background-color 0.3s);

    [class*="icon"] {
      display: inline-block;
      font-size: 22px;
      line-height: 53px;
      color: $color1;
      vertical-align: middle;
      @include transform(rotate(90deg));

      &+.text {
        margin-left: 5px;
      }
    }

    .text {
      display: inline-block;
      font-family: $font2;
      @include font(15px, 53px, $color1, 500, null);
      vertical-align: middle;
    }

    &:hover {
      background-color: $color3-2;
    }
  }

  &[class*="Type4"] {
    display: inline-block;
    padding-left: 10px;
    padding-right: 18px;
    min-width: 119px;
    height: 54px;
    background-color: $color3;
    @include border-radius(27px);
    @include box-shadow(0px 12px 24px 0px $shadow7);
    @include transition(background-color 0.3s);

    .text {
      position: relative;
      display: inline-block;
      padding-bottom: 6px;
      padding-left: 28px;
      @include font(20px, 48px, $color1, 500, null);

      &::before {
        content: '';
        display: block;
        position: absolute;
        left: 0px;
        top: 50%;
        margin-top: -11px;
        width: 0px;
        height: 0px;
        border-left: 18px solid $color1;
        border-top: 11px solid transparent;
        border-bottom: 11px solid transparent;
      }
    }

    &:hover {
      background-color: $color3-2;
    }
  }

  &[class*="Type5"] {
    display: inline-block;
    padding-left: 0px;
    padding-right: 18px;
    min-width: 260px;
    height: 54px;
    text-align: left;
    background-color: $color3;
    @include border-radius(7px);
    @include transition(background-color 0.3s);

    .icon {
      display: inline-block;
      width: 57px;
      height: 56px;
      vertical-align: middle;

      img {
        width: 100%;
        height: auto;
      }
    }

    .text {
      position: relative;
      display: inline-block;
      font-family: $font2;
      @include font(17px, 54px, $color1, 500, null);
      vertical-align: middle;
    }

    &:hover {
      background-color: $color3-2;
    }
  }

  &[class*="Type6"] {
    display: inline-block;
    padding-left: 18px;
    padding-right: 18px;
    min-width: 260px;
    height: 57px;
    text-align: left;
    background-color: $color1;
    border: 2px solid $color3;
    @include border-radius(5px);
    @include transition(border 0.3s);

    [class*="icon"] {
      display: inline-block;
      font-size: 22px;
      line-height: 53px;
      color: $color3;
      vertical-align: middle;
      @include transform(rotate(180deg));
      @include transition(color 0.3s);

      &+.text {
        margin-left: 9px;
      }
    }

    .text {
      position: relative;
      display: inline-block;
      font-family: $font2;
      @include font(15px, 53px, $color3, 500, null);
      vertical-align: middle;
      @include transition(color 0.3s);
    }

    &:hover {
      border: 2px solid $color3-2;

      [class*="icon"] {
        color: $color3-2;
      }

      .text {
        color: $color3-2;
      }
    }
  }

  &[class*="Type7"] {
    display: inline-block;
    padding-left: 16px;
    padding-right: 10px;
    min-width: 123px;
    height: 57px;
    text-align: left;
    background-color: $color1;
    @include border-radius(7px);

    .icon {
      display: inline-block;
      width: 29px;
      vertical-align: middle;

      &+.text {
        margin-left: 6px;
      }
    }

    .text {
      position: relative;
      display: inline-block;
      font-family: $font2;
      @include font(30px, 57px, $color2-4, bold, null);
      vertical-align: middle;
    }

    &.dark {
      padding-left: 10px;
      background-color: $color13;

      .icon {
        width: 42px;

        &+.text {
          margin-left: 0px;
        }
      }

      .text {
        color: $color1;
      }
    }
  }
}

[class*="btnSimple"] {
  &[class*="Type1"] {
    font-family: $font3;
    @include font(18px, 1, $color1, null, null);
    @include transition(color 0.3s);

    &:hover {
      color: $color3;
    }
  }

  &[class*="Type2"] {
    font-family: $font3;
    @include font(14px, 1, $color3, null, -0.1);
    @include transition(color 0.3s);

    &:hover {
      color: $color2-4;
    }
  }
}