@mixin cfix {
    &:after {
        content: " ";
        display: block;
        clear: both;
    }
}

@mixin left {
    float: left;
}

@mixin right {
    float: right;
}

@mixin float-off {
    float: none;
}

@mixin grid {
    margin: $indentO3 $indentO1 0px;
    @include cfix;
}

@mixin grid-item {
    @include left;
    padding: $indent3 $indent1 0px;
}

@mixin row {
    margin-left: $indentO1;
    margin-right: $indentO1;
    @include cfix;
}

@mixin row-item {
    @include left;
    padding-left: $indent1;
    padding-right: $indent1;
}


@mixin table {
    display: table;
}

@mixin table-full {
    @include table;
    width: $col12;
}

@mixin table-head {
    display: table-row;
}

@mixin table-body {
    display: table-row-group;
}

@mixin table-row {
    display: table-row;
}

@mixin table-cell {
    display: table-cell !important;
}

@mixin table-cell-middle {
    @include table-cell;
    vertical-align: middle;
}

@mixin table-cell-top {
    @include table-cell;
    vertical-align: top;
}

@mixin table-cell-bottom {
    @include table-cell;
    vertical-align: bottom;
}

@mixin table-cell-right {
    @include table-cell;
    text-align: right;
}

@mixin table-cell-left {
    @include table-cell;
    text-align: left;
}

@mixin table-cell-center {
    @include table-cell;
    text-align: center;
}


@mixin col0 {
    width: 0px;
}

@mixin col1 {
    width: $col1;
}

@mixin col2 {
    width: $col2;
}

@mixin col2_4 {
    width: $col2_4;
}

@mixin col3 {
    width: $col3;
}

@mixin col4 {
    width: $col4;
}

@mixin col5 {
    width: $col5;
}

@mixin col6 {
    width: $col6;
}

@mixin col7 {
    width: $col7;
}

@mixin col8 {
    width: $col8;
}

@mixin col9 {
    width: $col9;
}

@mixin col10 {
    width: $col10;
}

@mixin col11 {
    width: $col11;
}

@mixin col12 {
    width: $col12;
}

@mixin iconLeft {
    position: relative;
    display: inline-block;

    [class*="icon"] {
        display: block;
        position: absolute;
        top: 50%;
        left: 0px;
    }
}

@mixin invisLink {
    position: relative;
    z-index: 1;

    &>a {
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 7;
        overflow: hidden;
        text-indent: 200%;
        white-space: nowrap;
    }
}

@mixin invisImg {
    position: relative;
    z-index: 1;
    overflow: hidden;

    &>img {
        display: block;
        position: absolute !important;
        left: calc(100% + 1px);
        top: 0px;
        margin-left: 100%;
    }

    @media (max-width: $maxMediaXS) {
        &>img {
            position: static !important;
            margin-left: auto;
            width: 100%;
        }
    }
}

@mixin animation-direction($direction) {
    -webkit-animation-direction: $direction;
    -moz-animation-direction: $direction;
    -o-animation-direction: $direction;
    animation-direction: $direction;
}

@mixin animation-play-state($state) {
    -webkit-animation-play-state: $state;
    -moz-animation-play-state: $state;
    -o-animation-play-state: $state;
    animation-play-state: $state;
}

@mixin animation-fill-mode($fillmode) {
    -webkit-animation-fill-mode: $fillmode;
    -moz-animation-fill-mode: $fillmode;
    -o-animation-fill-mode: $fillmode;
    animation-fill-mode: $fillmode;
}

@mixin animation-iteration-count($count) {
    -webkit-animation-iteration-count: $count;
    -moz-animation-iteration-count: $count;
    -o-animation-iteration-count: $count;
    animation-iteration-count: $count;
}

@mixin animation-duration($duration) {
    -webkit-animation-duration: $duration;
    -moz-animation-duration: $duration;
    -o-animation-duration: $duration;
    animation-duration: $duration;
}

@mixin animation-timing-function($timing) {
    -webkit-animation-timing-function: $timing;
    -moz-animation-timing-function: $timing;
    -o-animation-timing-function: $timing;
    animation-timing-function: $timing;
}

@mixin animation-delay($timing) {
    -webkit-animation-delay: $timing;
    -moz-animation-delay: $timing;
    -o-animation-delay: $timing;
    animation-delay: $timing;
}

@mixin animation-name($name) {
    -webkit-animation-name: $name;
    -moz-animation-name: $name;
    -o-animation-name: $name;
    animation-name: $name;
}

@mixin outline($outline) {
    -webkit-outline: $outline;
    -moz-outline: $outline;
    outline: $outline;
}

@mixin user-select($select) {
    -moz-user-select: $select;
    -webkit-user-select: $select;
    -ms-user-select: $select;
    -o-user-select: $select;
    user-select: $select;
}

@mixin transition($transition) {
    -webkit-transition: $transition;
    -moz-transition: $transition;
    -o-transition: $transition;
    transition: $transition;
}

@mixin transform($transform) {
    -moz-transform: $transform;
    -ms-transform: $transform;
    -webkit-transform: $transform;
    -o-transform: $transform;
    transform: $transform;
}

@mixin transform-origin($transform-origin) {
    -moz-transform-origin: $transform-origin;
    -ms-transform-origin: $transform-origin;
    -webkit-transform-origin: $transform-origin;
    -o-transform-origin: $transform-origin;
    transform-origin: $transform-origin;
}

@mixin filter($filter) {
    -webkit-filter: $filter;
    -moz-filter: $filter;
    -ms-filter: $filter;
    -o-filter: $filter;
    filter: $filter;
}

@mixin appearance($appearance) {
    -webkit-appearance: $appearance;
    -moz-appearance: $appearance;
    appearance: $appearance;
}

@mixin box-shadow($shadow) {
    -webkit-box-shadow: $shadow;
    -moz-box-shadow: $shadow;
    box-shadow: $shadow;
}

@mixin box-sizing($sizing) {
    -webkit-box-sizing: $sizing;
    -moz-box-sizing: $sizing;
    box-sizing: $sizing;
}

@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}

@mixin border-radius-top-right($radius) {
    -webkit-border-top-right-radius: $radius;
    -moz-border-radius-topright: $radius;
    -ms-border-top-right-radius: $radius;
    border-top-right-radius: $radius;
}

@mixin border-radius-top-left($radius) {
    -webkit-border-top-left-radius: $radius;
    -moz-border-radius-topleft: $radius;
    -ms-border-top-left-radius: $radius;
    border-top-left-radius: $radius;
}

@mixin border-radius-bottom-right($radius) {
    -webkit-border-bottom-right-radius: $radius;
    -moz-border-radius-bottomright: $radius;
    -ms-border-bottom-right-radius: $radius;
    border-bottom-right-radius: $radius;
}

@mixin border-radius-bottom-left($radius) {
    -webkit-border-bottom-left-radius: $radius;
    -moz-border-radius-bottomleft: $radius;
    -ms-border-bottom-left-radius: $radius;
    border-bottom-left-radius: $radius;
}

@mixin font($size, $line, $color, $weight, $lSpace) {
    @if $size !=null {
        font-size: $size;
    }

    @if $line !=null {
        line-height: $line;
    }

    @if $color !=null {
        color: $color;
    }

    @if $weight !=null {
        font-weight: $weight;
    }

    @if $lSpace !=null {
        letter-spacing: $lSpace;
    }
}

@mixin linear-gradientH($color1, $color2) {
    background: $color1;
    background: -moz-linear-gradient(left, $color1 0%, $color2 100%);
    background: -webkit-linear-gradient(left, $color1 0%, $color2 100%);
    background: linear-gradient(to right, $color1 0%, $color2 100%); // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$color1, endColorstr=$color2,GradientType=1 );
}

@mixin border-gradientH($color1, $color2) {
    border-image: -moz-linear-gradient(left, $color1 0%, $color2 100%);
    border-image: -webkit-linear-gradient(left, $color1 0%, $color2 100%);
    border-image: linear-gradient(to right, $color1 0%, $color2 100%); // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$color1, endColorstr=$color2,GradientType=1 );
}

@mixin linear-gradientV($color1, $color2) {
    background: $color1;
    background: -moz-linear-gradient(top, $color1 0%, $color2 100%);
    background: -webkit-linear-gradient(top, $color1 0%, $color2 100%);
    background: linear-gradient(to bottom, $color1 0%, $color2 100%); // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$color1, endColorstr=$color2,GradientType=0 );
}

@mixin linear-gradientR($color1, $color2) {
    background: $color1;
    background: -moz-radial-gradient(center, ellipse cover, $color1 0%, $color2 100%);
    background: -webkit-radial-gradient(center, ellipse cover, $color1 0%, $color2 100%);
    background: radial-gradient(ellipse at center, $color1 0%, $color2 100%); // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$color1, endColorstr=$color2,GradientType=1 );
}

@mixin linear-gradientD45($color1, $color2) {
    background: $color1;
    background: -moz-linear-gradient(45deg, $color1 0%, $color2 100%);
    background: -webkit-linear-gradient(45deg, $color1 0%, $color2 100%);
    background: linear-gradient(45deg, $color1 0%, $color2 100%); // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$color1, endColorstr=$color2,GradientType=1 );
}

@mixin linear-gradientD-45($color1, $color2) {
    background: $color1;
    background: -moz-linear-gradient(-45deg, $color1 0%, $color2 100%);
    background: -webkit-linear-gradient(-45deg, $color1 0%, $color2 100%);
    background: linear-gradient(-45deg, $color1 0%, $color2 100%); // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$color1, endColorstr=$color2,GradientType=1 );
}

@mixin conic-gradient($deg, $color1, $color2) {
    background: $color1;
    background: conic-gradient(from $deg, $color1 0%, $color2 100%);
}

@mixin radial-gradient($position, $color1, $color2) {
    background: $color1;
    background: -0-radial-gradient($position, $color1, $color2);
    background: -moz-radial-gradient($position, $color1, $color2);
    background: -webkit-radial-gradient($position, $color1, $color2);
    background: radial-gradient($position, $color1, $color2); // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$color1, endColorstr=$color2,GradientType=1 );
}

@mixin back-img($size, $position, $repeat) {
    background-size: $size;
    background-position: $position;
    background-repeat: $repeat;
}

@mixin text-size-adjust($val) {
    -webkit-text-size-adjust: $val;
    -moz-text-size-adjust: $val;
    -ms-text-size-adjust: $val;
}

@mixin transform-style($transform-style) {
    -webkit-transform-style: $transform-style;
    -moz-transform-style: $transform-style;
    transform-style: $transform-style;
}

@mixin perspective($perspective) {
    -webkit-perspective: $perspective;
    -moz-perspective: $perspective;
    perspective: $perspective;
}

@mixin clip-path($path) {
    -webkit-clip-path: $path;
    clip-path: $path;
}

@mixin perspective($perspective) {
    -webkit-perspective: $perspective;
    -moz-perspective: $perspective;
    perspective: $perspective;
}

@mixin perspective-origin($perspective-origin) {
    -webkit-perspective-origin: $perspective-origin;
    -moz-perspective-origin: $perspective-origin;
    perspective-origin: $perspective-origin;
}