<template>
  <div class="bodyWrap">
    <nuxt/>
    <appfooter/>
  </div>
</template>
<script>
import Appheader from '~/components/partials/header.vue'
import Appfooter from '~/components/partials/footer.vue'
import {
  getStrapiMedia
} from '~/utils/medias'

export default {
   components: {
    Appheader,
    Appfooter,
  },
  computed: {
    titleFavicon(){
      return   this.$store.getters.getTitlefaviconData; 
    }
  },
  head () {
      return {
       title: this.titleFavicon.site_title[this.language],
        link: [
          { rel: 'icon', type: 'image/x-icon', href: getStrapiMedia(this.titleFavicon.site_favicon.url) },
        ]
      }  
  },
  data: () => ({
      language: 'english'
  })
}
</script>
