<template>
  <div>
      <div class="aboutPageHeader" v-bind:style="{ 'background-image': 'url(' + getStrapiMedia(about.section1.image.url) + ')' }">
          <Appheader/>
          <div class="container">
              <div class="aboutBanner">
                  <div class="wrapper">
                      <span class="pageTitle">{{about.section1.title[language]}}</span>
                      <div class="info">
                          <p v-html="about.section1.description[language]"></p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="aboutInfo">
          <div class="container">
              <div class="wrapper">
                  <div class="left">
                      <div class="titleBlock">
                          <span class="title">{{about.section2_title_description.title[language]}}</span>
                      </div>
                      <div class="contentBlock">
                          <div class="textBlock">
                              <p>{{about.section2_title_description.description[language]}}</p>
                          </div>
                      </div>
                  </div>
                  <div class="right">
                      <div class="quoteBlock wow animate__animated animate__fadeInUpBig">
                          <p class="wow animate__animated animate__fadeIn" data-wow-delay="1s">{{about.section2_description2[language]}}</p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="joinSection about">
          <div class="container">
              <div class="joinBlock">
                  <div class="img dotsBottom">
                      <img :src="getStrapiMedia(about.section3_image_title_description.image.url)" alt="image">
                  </div>
                  <div class="info">
                      <span class="title md">{{about.section3_image_title_description.title[language]}}</span>
                      <div class="content">
                          <div class="textBlock">
                              <p>{{about.section3_image_title_description.description[language]}}</p>
                          </div>
                      </div>
                      <a href="#" class="btnIconType1 sm">
                          <span class="in">
                              <span class="text">{{about.section3_button_icon.title[language]}}</span>
                              <span :class="about.section3_button_icon.icon_class"></span>
                          </span>
                      </a>
                  </div>
              </div>
          </div>
      </div>
    </div>
</template>
<script>

import Appheader from '~/components/partials/header.vue'
import {
  getStrapiMedia
} from '~/utils/medias'

export default {
  data: () => ({
    //language: 'thai'
  }),
  components: {
    Appheader
  },
  computed: {
    about(){
        return this.$store.getters.getAboutData;
    },
    language(){
        return this.$store.getters.getCurrentlanguageData.translation_code;
    }
  },
  methods: {
    getStrapiMedia,
    redirectPage(urlVal){
        window.open(urlVal, "_target"); 
    }
  }
}
</script>


