<template>
    <div class="demoPage">
        <Appheader/>
        <div class="demoSection">
            <div class="container">
                <div class="wrapper">
                    <div class="titleBlock">
                        <span class="pageTitle">{{checkoutDemo.page_title[language]}}</span>
                    </div>
                    <div class="contentBlock">
                        <div class="demoInfo">
                            <div class="productCard">
                                <div class="name" v-html="checkoutDemo.product_title_description.title[language]"></div>
                                <div class="description">
                                    <p>{{checkoutDemo.product_title_description.description[language]}}</p>
                                </div>
                                <a href="#" class="more">{{checkoutDemo.anchor_link.title[language]}}</a>
                                <div class="productInfo">
                                    <div class="item dropdownItem" v-for="drop_down_item in checkoutDemo.drop_down_item_list" :key="drop_down_item.id" >
                                        <div class="head">
                                            <span class="title">{{drop_down_item.title[language]}}</span>
                                            <div class="btn"><span></span><span></span></div>
                                        </div>
                                        <div class="content">
                                            <div class="in" v-for="detail in drop_down_item.detail_list" :key="detail.id">
                                                <p>{{detail[language]}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="buy">
                                    <button class="btnIconType5" data-modal="paymentModal">
                                        <span class="icon">
                                            <img :src="getStrapiMedia(checkoutDemo.pay_button.image.url)" alt="logo">
                                        </span>
                                        <span class="text">{{checkoutDemo.pay_button.title[language]}}</span>
                                    </button>
                                    <span class="cost" v-html="checkoutDemo.total_cost[language]"></span>
                                </div>
                            </div>
                        </div>
                        <div class="demoSlider scrollSlider">
                            <div class="main scrollBlock">
                                <div class="inner">
                                    <div class="item" v-for="item_preview in checkoutDemo.demo_scrollslider" :key="item_preview.id">
                                        <div class="in">
                                            <img :src="getStrapiMedia(item_preview.item_image.url)" alt="demo">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="preview">
                                <div class="item" v-for="item_preview in checkoutDemo.demo_scrollslider" :key="item_preview.id" v-bind:class="{ active: item_preview.isActive }"> 
                                    <img :src="getStrapiMedia(item_preview.preview_image.url)" alt="demo">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="back">
                        <a href="#" class="btnIconType6">
                            <span :class="checkoutDemo.return_to_button.icon_class"></span>
                            <span class="text">{{checkoutDemo.return_to_button.title[language]}}</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <paymentmodal/>
    </div>
</template>
<script>

import Appheader from '~/components/partials/header.vue'
import paymentmodal from '~/components/modals/paymentmodal.vue'
import {
  getStrapiMedia
} from '~/utils/medias'

export default {
  components: {
    Appheader,
    paymentmodal
  },
  computed: {
    checkoutDemo(){
        return this.$store.getters.getCheckoutdemoData; 
    },
    language(){
        return this.$store.getters.getCurrentlanguageData.translation_code;
    }
  },
  methods: {
      getStrapiMedia,
      redirectPage(urlVal){
        window.open(urlVal, "_target"); 
      }
  },
  mounted() {
      let animationScript = document.createElement('script');
      animationScript.setAttribute('src', 'script.js');
      document.head.appendChild(animationScript);
  },
  data: () => ({
      //language: 'thai'
  })
}
</script>
