<template>
    <div>
        <div class="contactsSection">
            <Appheader/>
            <div class="container">
                <div class="contactBlock">
                    <div class="wrapper">
                        <div class="left">
                            <div class="titleContainer">
                                <span class="pageTitle">{{contact.title_top[language]}}</span>
                                <span class="pageSubtitle">{{contact.sub_title_top[language]}}</span>
                            </div>
                            <div class="contentContainer">
                                <div class="timingBlock">
                                    <span class="title">{{contact.opening_hrs_title[language]}}</span>
                                    <span class="data" v-for="opening_hour_text in contact.opening_hour_list" :key="opening_hour_text.id">{{opening_hour_text[language]}}</span>
                                </div>
                                <ul class="contactsList">
                                    <li v-for="contactInfo in contact.contact_list" :key="contactInfo.id">
                                        <a :href="contactInfo.link">
                                            <img :src="getStrapiMedia(contactInfo.image.url)" alt="contact" class="icon">
                                            <span class="data">{{contactInfo.caption[language]}}</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="right">
                            <div class="mapWrapper">
                                <div class="mapBlock">
                                    <iframe
                                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3875.714213689474!2d100.56133511483033!3d13.735744490357867!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30e29efd295efcf3%3A0x4ca047bcbe11ce24!2zU29pIFN1a2h1bXZpdCAyNSwgS3J1bmcgVGhlcCBNYWhhIE5ha2hvbiAxMDExMCwg0KLQsNC40LvQsNC90LQ!5e0!3m2!1sru!2sby!4v1601449484351!5m2!1sru!2sby"
                                        frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
                                        tabindex="0"></iframe>
                                </div>
                                <div class="locationBlock">
                                    <div class="title">
                                        <img :src="getStrapiMedia(contact.city_address_image.image.url)" alt="location" class="icon">
                                        <span class="data">{{contact.city_address_image.title[language]}}</span>
                                    </div>
                                    <div class="content">
                                        <p>{{contact.city_address_image.description[language]}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>

import Appheader from '~/components/partials/header.vue'
import {
  getStrapiMedia
} from '~/utils/medias'

export default {
    components: {
        Appheader
    },
    data: () => ({
        //language: 'thai'
    }),
    computed: {
        contact(){
            return this.$store.getters.getContactData;
        },
        language(){
            return this.$store.getters.getCurrentlanguageData.translation_code;
        }
    },
    methods: {
        getStrapiMedia,
        redirectPage(urlVal){
            window.open(urlVal, "_target"); 
        }
    }
}
</script>
