<template>
  <div>
    <div class="startSection">
        <Appheader/>
        <div class="container">
            <div class="mainBanner">
                <div class="wrapper">
                    <div class="left">
                        <div class="bannerInfo">
                            <span class="slogan">{{homeData.section1_title_and_description.title[language]}}</span>
                            <p>{{homeData.section1_title_and_description.description[language]}}</p>
                            <a href="#" class="btnIconType1">
                                <span class="in">
                                    <span class="text">{{homeData.section1_button1.title[language]}}</span>
                                    <span class="icon-arrow"></span>
                                </span>
                            </a>
                        </div>
                        <ul class="partnersList">
                            <li v-for="item in homeData.section1_partners_logos" :key="item.image.url" @click="redirectPage(item.link_url)" class="cursor-hand">
                                <img :src="getStrapiMedia(item.image.url)" alt="partner" >
                            </li>
                        </ul>
                    </div>
                    <div class="right">
                        <div class="createLinkAnimation" v-bind:class="{'runningAnimation': windowLoaded }">
                            <div class="animationWrapper animated">
                                <div class="createLinkForm animated">
                                    <div class="headBlock">
                                        <span class="title">{{homeData.section1_slider1_title[language]}}</span>
                                        <span class="subtitle">{{homeData.section1_slider1_subtitle[language]}}</span>
                                    </div>
                                    <div class="formBlock">
                                        <div class="fieldWrap">
                                            <div class="fieldItem">
                                                <div class="inBlockType1">
                                                    <span class="label">{{homeData.section1_slider1_productname.item[language]}}</span>
                                                    <div class="inWrap">
                                                        <div class="input">
                                                            <span class="typingText product animated">{{homeData.section1_slider1_productname.value[language]}}</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="fieldItem">
                                                <div class="inBlockType1">
                                                    <span class="label">{{homeData.section1_slider1_amountvalue.item[language]}}</span>
                                                    <div class="inWrap">
                                                        <div class="input">
                                                            <span class="typingText sum animated">{{homeData.section1_slider1_amountvalue.value[language]}}</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="checkWrap">
                                            <div class="checkBtn">
                                                <input type="checkbox" name="card" id="card">
                                                <label for="card">{{homeData.section1_slider1_simplebutton1.title[language]}}</label>
                                            </div>
                                        </div>
                                        <span class="btnFillType2 full">{{homeData.section1_slider1_simplebutton2.title[language]}}</span>
                                    </div>
                                </div>
                                <div class="createLinkCard animated">
                                    <div class="img">
                                        <img :src="getStrapiMedia(homeData.section1_slider2_backgroundImage.url)" alt="product image">
                                    </div>
                                    <div class="content">
                                        <div class="info">
                                            <span class="title">{{homeData.section1_slider1_productname.value[language]}}</span>
                                            <span class="cost">{{homeData.section1_slider1_amountvalue.value[language]}}</span>
                                        </div>
                                        <div class="button">
                                            <button class="btnIconType7">
                                                <img :src="getStrapiMedia(homeData.section1_slider2_button1.image.url)" alt="logo" class="icon">
                                                <span class="text">{{homeData.section1_slider2_button1.title[language]}}</span>
                                            </button>
                                            <button class="btnIconType7 dark animated">
                                                <img :src="getStrapiMedia(homeData.section1_slider2_button2.image.url)" alt="logo" class="icon">
                                                <span class="text">{{homeData.section1_slider2_button2.title[language]}}</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="createLinkPayForm animated">
                                    <div class="paymentForm">
                                        <div class="headBlock">
                                            <div class="formTitle">{{homeData.section1_slider3_formtitle[language]}}</div>
                                            <div class="siteLogo2">
                                                <img :src="getStrapiMedia(homeData.section1_slider3_logo.url)" alt="logo">
                                                <div class="data">
                                                    <span class="subtitle">{{homeData.section1_slider3_logo_subtitle[language]}}</span>
                                                    <span class="title">{{homeData.section1_slider3_logo_title[language]}}</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="formBlock">
                                            <div class="fieldsWrap">
                                                <div class="fieldItem">
                                                    <div class="col">
                                                        <div class="inBlockType1">
                                                            <span class="label">{{homeData.section1_slider3_card_value.item[language]}}</span>
                                                            <div class="inWrap">
                                                                <div class="input">
                                                                    <span class="fadingText animated">{{homeData.section1_slider3_card_value.value[language]}}</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="fieldItem">
                                                    <div class="col">
                                                        <div class="inBlockType1">
                                                            <span class="label">{{homeData.section1_slider3_expiredate_value.item[language]}}</span>
                                                            <div class="inWrap comb">
                                                                <div class="input">
                                                                    <span class="fadingText animated">{{homeData.section1_slider3_expiredate_value.value[language]}}</span>
                                                                </div>
                                                                <div class="input">
                                                                    <span class="fadingText animated">{{homeData.section1_slider3_expiredate_year[language]}}</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col">
                                                        <div class="inBlockType1">
                                                            <span class="label">{{homeData.section1_slider3_card_verification_code.item[language]}}</span>
                                                            <div class="inWrap">
                                                                <div class="input">
                                                                    <span class="fadingText animated">{{homeData.section1_slider3_card_verification_code.value[language]}}</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="checkWrap">
                                                <div class="checkBtn">
                                                    <input type="checkbox" name="card" id="card">
                                                    <label for="card">{{homeData.section1_slider3_button1.title[language]}}</label>
                                                </div>
                                            </div>
                                            <button class="btnFillType2 full upp">{{homeData.section1_slider3_button2.title[language]}}</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="createLinkPayCard animated">
                                    <img :src="getStrapiMedia(homeData.section1_slider4_creditcard_image[language].url)" alt="card">
                                </div>
                                <div class="createLinkResult animated">
                                    <div class="icon"><img :src="getStrapiMedia(homeData.section1_slider5_singlecontent.image.url)"  alt="done"></div>
                                    <span class="text">{{homeData.section1_slider5_singlecontent.caption[language]}}</span>
                                </div>
                                <div class="overlay"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="mainAbout">
        <div class="container">
            <div class="wrapper">
                <div class="left">
                    <div class="getLinkWrapper">
                        <div class="getLinkBlock animatedBlock">
                            <div class="field nameBlock">
                                <span class="param">{{homeData.section2_name_block.item[language]}}</span>
                                <span class="data name animated">{{homeData.section2_name_block.value[language]}}</span>
                            </div>
                            <div class="field priceBlock animated">
                                <span class="param">{{homeData.section2_price_block.item[language]}}</span>
                                <span class="data price animated">{{homeData.section2_price_block.value[language]}}</span>
                            </div>
                            <div class="btnIconType2 animated">
                                <span class="text animated">
                                    <span class="animated">{{homeData.section2_button_multiple_text[0][language]}}</span><span class="animated">{{homeData.section2_button_multiple_text[1][language]}}</span><span
                                        class="animated">{{homeData.section2_button_multiple_text[2][language]}}</span><span class="animated">{{homeData.section2_button_multiple_text[3][language]}}</span>
                                </span>
                                <span class="icon-arrow"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="right">
                    <div class="titleContainer">
                        <span class="sectionTitle lg" v-html="homeData.section2_title_description.title[language]"></span>
                    </div>
                    <div class="contentContainer">
                        <div class="textBlock">
                            <p>{{homeData.section2_title_description.description[language]}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="advantages">
        <div class="container">
            <div class="wrapper">
                <div class="advantagesList">
                    <div class="item" v-for="card in homeData.section2_cards_advantage_item" :key="card.image.url">
                        <div class="advantagesItem type1" :class="card.css">
                            <div class="img">
                                <img :src="getStrapiMedia(card.image.url)"  alt="advantage">
                            </div>
                            <span class="title" v-html="card.title[language]"></span>
                            <p>{{card.description[language]}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mainInfo">
        <div class="container">
            <div class="wrapper">
                <div class="titleContainer">
                    <span class="sectionTitle md">{{homeData.section3_title_description1.title[language]}}</span>
                </div>
                <div class="contentContainer">
                    <div class="infoBlock">
                        <div class="item">
                            <div class="textBlock lg">
                                <p>{{homeData.section3_title_description1.description[language]}}</p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="textBlock lg">
                                <span class="title">{{homeData.section3_title_description2.title[language]}}</span>
                                <p>{{homeData.section3_title_description2.description[language]}}</p>
                            </div>
                        </div>
                    </div>
                    <ul class="securityList">
                        <li v-for="imageDescription in homeData.section3_image_caption_list" :key="imageDescription.image.url" @click="redirectPage(imageDescription.link)" class="cursor-hand">
                            <img :src="getStrapiMedia(imageDescription.image.url)"  alt="secutity">
                            <span>{{imageDescription.caption[language]}} </span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="apiImg animatedBlock">
            <div class="circleWrap">
                <div class="circle animated">
                    <span class="text animated">{{homeData.section3_vendiagram_lefttext[language]}}</span>
                </div>
                <div class="circle animated">
                    <span class="text animated">{{homeData.section3_vendiagram_righttext[language]}} </span>
                </div>
            </div>
            <div class="overlay animated"></div>
            <span class="text animated">{{homeData.section3_vendiagram_midtext[language]}}</span>
            <img :src="getStrapiMedia(homeData.section3_vendiagram_checkimage.image.url)" alt="check" class="icon animated" @click="redirectPage(homeData.section3_vendiagram_checkimage.link_url)">
        </div>
    </div>
    <div class="joinSection main">
        <div class="container">
            <div class="joinBlock">
                <div class="img dotsTop">
                    <img :src="getStrapiMedia(homeData.section4_image_title_description.image.url)" alt="image">
                </div>
                <div class="info">
                    <span class="title lg">{{homeData.section4_image_title_description.title[language]}}</span>
                    <div class="content">
                        <div class="textBlock">
                            <p>{{homeData.section4_image_title_description.description[language]}}</p>
                        </div>
                    </div>
                    <a href="#" class="btnIconType1 sm">
                        <span class="in">
                            <span class="text">{{homeData.section4_button.title[language]}}</span>
                            <span :class="homeData.section4_button.icon_class"></span>
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
</template>
<script>

import Appheader from '~/components/partials/header.vue'
import {
  getStrapiMedia
} from '~/utils/medias'

export default {
  data: () => ({
    windowLoaded: false,
    //language: 'english'
  }),  
  components: {
    Appheader
  },
  computed: {
      homeData(){
        return this.$store.getters.getHomeData;
      },
      language(){
        return this.$store.getters.getCurrentlanguageData.translation_code;
      }
  },
  methods: {
    getStrapiMedia,
    redirectPage(urlVal){
        window.open(urlVal, "_target"); 
    }
  },
  mounted() {
        let animationScript = document.createElement('script');
        animationScript.setAttribute('src', 'script.js');
        animationScript.setAttribute('type', 'text/javascript');
        document.head.appendChild(animationScript);
        this.windowLoaded = true;
  }
}
</script>

<style scoped>
    .cursor-hand{
        cursor: pointer;
    }
    
</style>
