<template>
  <div class="paymentPage">
        <Appheader/>
        <div class="container">
            <div class="paymentSection">
                <div class="wrapper">
                    <div class="titleContainer">
                        <span class="pageTitle" v-html="integrations.title_description.title[language]"></span>
                    </div>
                    <div class="contentContainer">
                        <div class="info">
                            <div class="textBlock">
                                <p>{{integrations.title_description.description[language]}}</p>
                            </div>
                        </div>
                        <a href="#" class="btnIconType3">
                            <span :class="integrations.download_api_button.icon_class"></span>
                            <span class="text">{{integrations.download_api_button.title[language]}}</span>
                        </a>
                        <div class="apiBlock">
                            <span class="title">{{integrations.block_title[language]}}</span>
                            <div class="codeBlock">
                                <div class="headBlock">
                                    <span>{{integrations.block_head[language]}}</span>
                                </div>
                                <div class="contentBlock">
                                    <p v-html="integrations.block_content[language]"></p>
                                    <button class="btnIconType4">
                                        <span class="text">{{integrations.block_content_button.title[language]}}</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>

import Appheader from '~/components/partials/header.vue'

export default {
  components: {
    Appheader
  },
  computed: {
    integrations(){
        return this.$store.getters.getIntegrationsData; 
    },
    language(){
        return this.$store.getters.getCurrentlanguageData.translation_code;
    }
  },
  data: () => ({
        //language: 'thai'
  })
}
</script>
