<template>
    <div>
        <div class="linksPage">
            <div class="linksPageHeader">
                <Appheader/>
                <div class="container">
                    <div class="linksBanner">
                        <div class="pageCaption">
                            <span class="title">{{paymentLinks.section1_title_description.title[language]}}</span>
                        </div>
                        <div class="info">
                            <div class="textBlock">
                                <p>{{paymentLinks.section1_title_description.description[language]}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="linksPageContent">
                <div class="stepsList">
                    <div class="item" v-for="(paymentStep,index) in paymentLinks.section1_payment_step_list" :key="paymentStep.id">
                        <div :class="paymentStep.css_class" >
                            <span class="num">{{index+1}}</span>
                            <div class="img wow animate__animated animate__fadeInUp" :data-wow-delay="paymentStep.wow_delay" :data-wow-offset="paymentStep.wow_offset">
                                <img :src="getStrapiMedia(paymentStep.image.url)" alt="step">
                            </div>
                            <div class="content">
                                <p v-html="paymentStep.content[language]"></p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="linkSectionBuy">
                    <div class="container">
                        <div class="wrapper">
                            <div class="left">
                                <div class="linkFormBuyWrapper">
                                    <div class="linkFormBuy wow animate__animated animate__bounceInLeft"
                                        data-wow-delay="0.5s">
                                        <div class="headBlock">
                                            <span class="title">{{paymentLinks.section2_leftside_title[language]}}</span>
                                            <span class="subtitle">{{paymentLinks.section2_leftside_subtitle[language]}}</span>
                                        </div>
                                        <div class="formBlock">
                                            <div class="radioWrap">
                                                <span class="label">{{paymentLinks.section2_responsible_for_fee_label[language]}}</span>
                                                <ul class="radioList">
                                                    <li v-for="responsiblePerson in paymentLinks.section2_leftside_responsible_list" :key="responsiblePerson.id">
                                                        <div class="radioBtn">
                                                            <input type="radio" name="type"  :checked="responsiblePerson.isCheckedFlag">
                                                            <label>{{responsiblePerson.label[language]}}</label>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="fieldsWrap">
                                                <div class="fieldItem" v-for="label_input in paymentLinks.section2_leftside_label_input" :key="label_input.id">
                                                    <div class="inBlockType3">
                                                        <label for="buyerTerms">
                                                            {{label_input.label[language]}}
                                                            <span class="note" v-if="label_input.type == 'note'">{{label_input.extra_note[language]}}</span>
                                                        </label>
                                                        <div class="inWrap">
                                                            <input type="text" :class="label_input.css_class" :value="label_input.input[language]" readonly>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div> 
                                            <div class="buttons">
                                                <button class="btnSimpleType1">{{paymentLinks.section2_leftside_bottom_button1.title[language]}}</button>
                                                <span class="btnFillType6">{{paymentLinks.section2_leftside_bottom_button2.title[language]}}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="right">
                                <div class="linkInfo">
                                    <div class="titleBlock">
                                        <span class="subtitle invert">{{paymentLinks.section2_rightside_subtitle[language]}}</span>
                                        <span class="title invert">{{paymentLinks.section2_rightside_title_description.title[language]}}</span>
                                    </div>
                                    <div class="contentBlock">
                                        <div class="textBlock invert">
                                            <p>{{paymentLinks.section2_rightside_title_description.description[language]}}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="linkDescr invert">
                                    <div class="item">
                                        <span class="cap">{{paymentLinks.section2_rightside_title_benefit[language]}}</span>
                                        <p v-for="benefit in paymentLinks.section2_rightside_benefit_list" :key="benefit.id" v-html="benefit[language]"></p>   
                                    </div>
                                    <div class="item">
                                        <span class="cap">{{paymentLinks.section2_rightside_title_restriction[language]}}</span>
                                        <p v-for="restriction in paymentLinks.section2_rightside_restriction_list" :key="restriction.id" v-html="restriction[language]"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="linkSectionMerch">
                    <div class="container">
                        <div class="wrapper">
                            <div class="left">
                                <div class="linkInfo">
                                    <div class="titleBlock">
                                        <span class="subtitle">{{paymentLinks.section3_leftside_subtitle[language]}}</span>
                                        <span class="title">{{paymentLinks.section3_leftside_title_description.title[language]}}</span>
                                    </div>
                                    <div class="contentBlock">
                                        <div class="textBlock">
                                            <p>{{paymentLinks.section3_leftside_title_description.description[language]}}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="linkDescr">
                                    <div class="item">
                                        <span class="cap">{{paymentLinks.section3_leftside_title_benefit[language]}}</span>
                                        <p v-for="benefit in paymentLinks.section3_leftside_benefit_list" :key="benefit.id" v-html="benefit[language]"></p>   
                                    </div>
                                    <div class="item">
                                        <span class="cap">{{paymentLinks.section3_leftside_title_restriction[language]}}</span>
                                        <p v-for="restriction in paymentLinks.section3_leftside_restriction_list" :key="restriction.id" v-html="restriction[language]"></p>
                                    </div>
                                </div>
                            </div>
                            <div class="right">
                                <div class="linkMerchFormWrapper">
                                    <div class="linkMerchForm wow animate__animated animate__bounceInRight"
                                        data-wow-delay="0.5s">
                                        <div class="headBlock">
                                            <span class="title">{{paymentLinks.section3_rightside_title[language]}}</span>
                                            <span class="subtitle">{{paymentLinks.section3_rightside_subtitle[language]}}</span>
                                        </div>
                                        <div class="formBlock">
                                            <div class="fieldsWrap">
                                                <div class="fieldItem" v-for="itemvalue in paymentLinks.section3_rightside_product_amount" :key="itemvalue.id">
                                                    <div class="inBlockType1">
                                                        <label for="name">{{itemvalue.item[language]}}</label>
                                                        <div class="inWrap">
                                                            <input type="text" name="name" id="name" :value="itemvalue.value[language]">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="checkWrap">
                                                <ul class="checkList">
                                                    <li v-for="checkboxItem in paymentLinks.section3_rightside_checklist" :key="checkboxItem.id">
                                                        <div class="checkBtn">
                                                            <input type="checkbox">
                                                            <label>{{checkboxItem.label[language]}}</label>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="radioWrap">
                                                <span class="label">{{paymentLinks.section3_rightside_responsible_fee_label[language]}}</span>
                                                <ul class="radioList">
                                                    <li v-for="responsiblePerson in paymentLinks.section3_rightside_responsible_list" :key="responsiblePerson.id">
                                                        <div class="radioBtn invert">
                                                            <input type="radio" name="type"  :checked="responsiblePerson.isCheckedFlag">
                                                            <label>{{responsiblePerson.label[language]}}</label>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="fieldsWrap">
                                                <div class="fieldItem" v-for="label_input in paymentLinks.section3_rightside_label_input" :key="label_input.id">
                                                    <div class="inBlockType1">
                                                        <label for="buyerTerms" class="lg">
                                                            {{label_input.label[language]}}
                                                            <span class="note" v-if="label_input.type == 'note'">{{label_input.extra_note[language]}}</span>
                                                        </label>
                                                        <div class="inWrap">
                                                            <input type="text" :class="label_input.css_class" :value="label_input.input[language]" readonly>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="more">
                                                <a href="#" class="btnSimpleType2">{{paymentLinks.section3_rightside_button1.title[language]}}</a>
                                                <span class="line"></span>
                                            </div>
                                            <button class="btnFillType2 full">{{paymentLinks.section3_rightside_button2.title[language]}}</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="joinSection links">
                    <div class="container">
                        <div class="joinBlock lg">
                            <div class="img">
                                <img :src="getStrapiMedia(paymentLinks.section4_content.image.url)" alt="image">
                            </div>
                            <div class="info">
                                <span class="title sm" v-html="paymentLinks.section4_content.title[language]"></span>
                                <div class="content">
                                    <div class="textBlock">
                                        <p>{{paymentLinks.section4_content.description[language]}}</p>
                                    </div>
                                </div>
                                <a href="#" class="btnIconType1 sm">
                                    <span class="in">
                                        <span class="text">{{paymentLinks.section4_icon_button.title[language]}}</span>
                                        <span :class="paymentLinks.section4_icon_button.icon_class"></span>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>

import Appheader from '~/components/partials/header.vue'
import {
  getStrapiMedia
} from '~/utils/medias'

export default {
    components: {
        Appheader
    }, 
    computed: {
        paymentLinks(){
            return this.$store.getters.getPaymentlinksData; 
        },
        language(){
            return this.$store.getters.getCurrentlanguageData.translation_code;
        }
    },
    methods: {
        getStrapiMedia,
        redirectPage(urlVal){
            window.open(urlVal, "_target"); 
        }
    },
    mounted() {
        let animationScript = document.createElement('script');
        animationScript.setAttribute('src', 'script.js');
        animationScript.setAttribute('type', 'text/javascript');
        document.head.appendChild(animationScript);
    },
    data: () => ({
            //language: 'thai'
    })
}
</script>
