<template>
    <div class="bodyWrap">
        <Appheader/>
        <div class="pricigPageHeader">
            <div class="container">
                <div class="pricingBanner">
                    <div class="pageCaption">
                        <span class="subtitle">{{pricingPlans.section1_subtitle[language]}}</span>
                        <span class="title">{{pricingPlans.section1_title[language]}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="pricingPageContent">
            <div class="container">
                <div class="calculator">
                    <div class="calcForm">
                        <div class="headBlock">
                            <span class="title">{{pricingPlans.section1_calculator_header[language]}}</span>
                        </div>
                        <div class="formBlock">
                            <form action="#">
                                <div class="fieldsWrap">
                                    <div class="fieldItem">
                                        <div class="inBlockType2">
                                            <label for="amount1">{{pricingPlans.section1_calculator_inputfield_label1[language]}}</label>
                                            <div class="inWrap">
                                                <input type="text" name="amount1" id="amount1">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="fieldItem">
                                        <div class="inBlockType2">
                                            <label for="amount2">{{pricingPlans.section1_calculator_inputfield_label2[language]}}</label>
                                            <div class="inWrap">
                                                <input type="text" name="amount2" id="amount2">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <button class="btnFillType2 full">{{pricingPlans.section1_calculator_button.title[language]}}</button>
                            </form>
                        </div>
                    </div>
                    <div class="calcInfo">
                        <span class="info" v-html="pricingPlans.section1_calculator_info[language]"></span>
                        <span class="note">{{pricingPlans.section1_calculator_note[language]}}</span>
                    </div>
                </div>
                <div class="pricingInfo">
                    <div class="titleContainer">
                        <span class="subtitle">{{pricingPlans.section2_subtitle_top[language]}}</span>
                        <span class="title">{{pricingPlans.section2_title_description_top.title[language]}}</span>
                    </div>
                    <div class="contentContainer">
                        <div class="info">
                            <div class="textBlock">
                                <p>{{pricingPlans.section2_title_description_top.description[language]}}</p>
                            </div>
                        </div>
                        <div class="buttons">
                            <a href="#" class="btnFillType4">{{pricingPlans.section2_button1.title[language]}}</a>
                            <a href="#" class="btnFillType5">{{pricingPlans.section2_button2.title[language]}}</a>
                        </div>
                    </div>
                </div>
                <div class="tariffList">
                    <div class="item" v-for="tariffCard in pricingPlans.section2_cards" :key="tariffCard.id">
                        <div class="tariffItem">
                            <span class="cost" v-html="tariffCard.title[language]"></span>
                            <div class="info">
                                <p>{{tariffCard.description[language]}}</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="joinSection ">
                    <div class="joinBlock lg">
                        <div class="img">
                            <img :src="getStrapiMedia(pricingPlans.section3_content.image.url)" alt="image">
                        </div>
                        <div class="info">
                            <span class="title sm" v-html="pricingPlans.section3_content.title[language]"></span>
                            <div class="content">
                                <div class="textBlock">
                                    <p>{{pricingPlans.section3_content.description[language]}}</p>
                                </div>
                            </div>
                            <a href="#" class="btnIconType1 sm">
                                <span class="in">
                                    <span class="text">{{pricingPlans.section3_icon_button.title[language]}}</span>
                                    <span :class="pricingPlans.section3_icon_button.icon_class"></span>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>

import Appheader from '~/components/partials/header.vue'
import {
  getStrapiMedia
} from '~/utils/medias'


export default {
  components: {
    Appheader
  },  
  computed: {
    pricingPlans(){
        return this.$store.getters.getPricingplansData; 
    },
    language(){
        return this.$store.getters.getCurrentlanguageData.translation_code;
    }
  },
  methods: {
        getStrapiMedia,
        redirectPage(urlVal){
            window.open(urlVal, "_target"); 
        }
  },
  data: () => ({
        //language: 'thai'
  })
}
</script>
