<template>
    <div>
        <div class="businessSection">
            <Appheader/>
            <div class="container">
                <div class="businessBlock">
                    <div class="wrapper">
                        <div class="titleBlock">
                            <span class="title">{{prohibitedBusinesses.prohibited_businesses_title_description.title[language]}}</span>
                            <span class="subtitle">{{prohibitedBusinesses.prohibited_businesses_title_description.description[language]}}</span>
                        </div>
                        <div class="contentBlock">
                            <ul class="listTempl1">
                                <li v-for="(prohibited_business,itemObjKey) in prohibitedBusinesses.prohibited_businesses_list" :key="prohibited_business.id">
                                    <span class="num">{{itemObjKey + 1}}</span>
                                    {{prohibited_business[language]}}
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>

import Appheader from '~/components/partials/header.vue'

export default {
  components: {
    Appheader
  },  
  computed: {
    prohibitedBusinesses(){
        return this.$store.getters.getProhibitedbusinessesData;
    },
    language(){
        return this.$store.getters.getCurrentlanguageData.translation_code;
    }
  },
  data: () => ({
        //language: 'english'
  })
}
</script>
