<template>
    <div class="modalsScroll">
        <div class="modals table">
            <div class="middle tCell">
                <div class="blockMod paymentModal paymentForm" id="paymentModal">
                    <div class="headBlock">
                        <div class="formTitle">Checkout</div>
                        <div class="siteLogo2">
                            <img src="img/logo.png" alt="logo">
                            <div class="data">
                                <span class="subtitle">powered by </span>
                                <span class="title">money space</span>
                            </div>
                        </div>
                    </div>
                    <div class="formBlock">
                        <form action="#">
                            <div class="fieldsWrap">
                                <div class="fieldItem">
                                    <div class="col">
                                        <div class="inBlockType1">
                                            <label for="cardNumber">Card Number </label>
                                            <div class="inWrap">
                                                <input type="text" class="cardNumber" name="cardNumber" id="cardNumber"
                                                    value="1123   2000   3200   2391">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="fieldItem">
                                    <div class="col">
                                        <div class="inBlockType1">
                                            <label>Exp Date</label>
                                            <div class="inWrap comb">
                                                <input type="text" class="cardMonth" name="month" id="month" value="08">
                                                <input type="text" class="cardYear" name="year" id="year" value="2020">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="inBlockType1">
                                            <label for="cvc">CVC</label>
                                            <div class="inWrap">
                                                <input type="text" class="cardCvc" name="cvc" id="cvc" value="032">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="checkWrap">
                                <div class="checkBtn">
                                    <input type="checkbox" name="card" id="card">
                                    <label for="card">Credit / Debit Card</label>
                                </div>
                            </div>
                            <button class="btnFillType2 full upp">PAY NOW</button>
                        </form>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="overlayModal"></div>
    </div>
</template>
<script>
export default {
  computed: {
      contactInfo() {
        return this.$store.getters.getContactInfo
      },
      social(){
        return this.$store.getters.getSocial
      },
      footer(){
          return this.$store.getters.getFooter
      }
  },
}
</script>
