<template>
    <div>
        <footer>
            <div class="container">
                <div class="wrapper">
                    <div class="col">
                        <div class="footMenu">
                            <span class="title">{{footer.first_column_title[language]}}</span>
                            <ul>
                                <li v-for="footerLink in footer.first_column_list" :key="footerLink.id">
                                    <a @click="redirectPage(footerLink)" class="cursor-hand">{{footerLink.title[language]}}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col">
                        <div class="footMenu">
                            <span class="title">{{footer.second_column_title[language]}}</span>
                            <ul>
                                <li v-for="footerLink in footer.second_column_list" :key="footerLink.id">
                                    <a @click="redirectPage(footerLink)" class="cursor-hand">{{footerLink.title[language]}}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col">
                        <div class="footMenu">
                            <span class="title">{{footer.third_column_title[language]}}</span>
                            <ul>
                                <li v-for="footerLink in footer.third_column_list" :key="footerLink.id">
                                    <a @click="redirectPage(footerLink)" class="cursor-hand">{{footerLink.title[language]}}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col">
                        <div class="footMenu">
                            <span class="title">{{footer.fourth_column_title[language]}}</span>
                            <ul>
                                <li v-for="footerLink in footer.fourth_column_list" :key="footerLink.id">
                                    <a @click="redirectPage(footerLink)" class="cursor-hand">{{footerLink.title[language]}}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    
                    <languageSwitcher :langs="header.language_button_list" :isSmallDeviceEnabled="false" :isLangBlockInverted="true"></languageSwitcher>
                    <!--
                    <div class="langBlock invert">
                        <div class="head">
                            <div class="in">
                                <img src="../../assets/img/eng.png" alt="eng" class="lang">
                                <img src="../../assets/img/arrow.svg" alt="arrow" class="arr">
                            </div>
                        </div>
                        <div class="list">
                            <div class="in">
                                <a href="#">
                                    <img src="../../assets/img/thai.png" alt="thai" class="lang">
                                </a>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
        </footer>
    </div>
</template>
<script>
import languageSwitcher from '~/components/partials/language-switcher.vue'

export default {
    components: {
        languageSwitcher
    },
    computed: {
        header(){
            return this.$store.getters.getHeaderData
        },
        footer(){
            return this.$store.getters.getFooterData
        },
        language(){
            return this.$store.getters.getCurrentlanguageData.translation_code;
        }
    },
    methods: {
        redirectPage(footerLink){
            if(footerLink.isExternalLink){
                window.open(footerLink.link, "_target"); 
            }else if(footerLink.link){
                this.$router.push(footerLink.link);
            }else{
                this.$router.push('/');
            }
        }
    }
}
</script>

<style>
    .cursor-hand{
        cursor: pointer;
    }
</style>

