<template>
    <header>
        <div class="wrapper">
            <div class="left">
                <div class="logoWrapper cursor-hand" v-on:click="gotoHomePage">
                    <div class="siteLogo" v-bind:class="{'light': hasDarkBackground }">
                        <img :src="getStrapiMedia(header.site_logo.url)" alt="logo">
                        <span>{{header.site_name[language]}}</span>
                    </div>
                </div>
                <div class="menuWrapper menuSm">
                    <div class="inner">
                        <span class="icon-close close closeMenuBtn"></span>
                        <span class="menuTitleSm">{{header.menu_title_small_device[language]}}</span>
                        <nav>
                            <ul class="menuList" v-bind:class="{'light': hasDarkBackground }">
                                <li v-for="menuItem in header.menu_list" :key="menuItem.id" v-bind:class="{ 'active':  computeActiveMenu(menuItem.link) }">
                                    <nuxt-link  :to="menuItem.link">{{menuItem.title[language]}}</nuxt-link>
                                </li>
                            </ul>
                            <languageSwitcher :title="header.language_title" :langs="header.language_button_list" :isSmallDeviceEnabled="true" :isLangBlockInverted="false" ></languageSwitcher>
                        </nav>
                    </div>
                </div>
            </div>
            <div class="right">
                <languageSwitcher :langs="header.language_button_list" :isSmallDeviceEnabled="false" :isLangBlockInverted="false"></languageSwitcher>
                <a href="#" class="btnFillType1">{{header.signup_button.title[language]}}</a>
                <a href="#" class="siteLink loginSm">{{header.signup_button.title[language]}}</a>
                <div class="openMenuBtn">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
        </div>
    </header>
</template>
<script lang="ts">
import Vue from 'vue'
import languageSwitcher from '~/components/partials/language-switcher.vue'
import {
  getStrapiMedia
} from '~/utils/imageMedia'


export default Vue.extend({
    components: {
        languageSwitcher
    },
    computed: {
        header(){
            return  this.$store.getters.getHeaderData;
       },
       language(){
           return this.$store.getters.getCurrentlanguageData.translation_code;
       },
       hasDarkBackground(){
           if(this.$route.name == "about-us"){
               return true;
           }else{
               return false;
           }
       }
    },
    methods: {
        getStrapiMedia,
        gotoHomePage: function (event:any) {
            this.$router.push('/');
        },
        computeActiveMenu: function(menuItemLink:any){
            if(menuItemLink.indexOf(this.$route.name) > 0){
                return true;
            }else{
                return false;
            }
        }
    },
    data: () => ({
        //language: this.$store.getters.getCurrentlanguageData[translation_code],
    })
})
</script>

<style>
    .cursor-hand{
        cursor: pointer;
    }
</style>
