<template>
    <div class="langBlock" v-bind:class="computedClass">
        <div class="title" v-if="isSmallDeviceEnabled">{{title[language]}}</div>
        <div class="head" v-bind:class="{'active': listClassCss == 'show-list' }">
            <div class="in" @click="toggleListVisibility()">
                <img :alt="activeLang.translation_code" :src="getStrapiMedia(activeLang.flag_image.url)" class="lang">
                <span class="text" v-if="isSmallDeviceEnabled">{{activeLang.name[language]}}</span>
                <img src="../../assets/img/arrow.svg" alt="arrow" class="arr" v-if="!isSmallDeviceEnabled">
                <img src="../../assets/img/arrow_right.svg" alt="arrow" class="arr" v-if="isSmallDeviceEnabled">
            </div>
        </div>
        <div class="list" :class="listClassCss">
            <div class="in">
                <a v-for="lang in langs" :key="lang.id"  class="dropdown-item cursor-hand" @click="changeLanguage(lang)">
                    <img :src="getStrapiMedia(lang.flag_image.url)" alt="" class="lang" v-if="lang.id != activeLang.id">
                    <span class="text" v-if="isSmallDeviceEnabled && lang.id != activeLang.id">{{lang.name[language]}}</span>
                </a>
            </div>
        </div>
    </div>
</template>
<script>
    import { getStrapiMedia } from '~/utils/medias'
    import { mapGetters } from 'vuex'


    export default {

        props: ['title','langs','isSmallDeviceEnabled','isLangBlockInverted'],

        data:() => ({
            listClassCss: 'hide-list',
        }),

        computed: {
            ...mapGetters(['getCurrentlanguageData']),
            activeLang: {
                get: function () {
                    let activeLang = {};
                    activeLang = this.getCurrentlanguageData;//$store.getters.getCurrentlanguageData;
                    return activeLang;
                },
                    // setter
                set: function (newLang) {
                    for (let i=0; i<this.langs.length; i++) {
                        if (newLang.id == this.langs[i].id) {
                            this.langs[i].isDefaultActive = true;
                        }else{
                            this.langs[i].isDefaultActive = false;
                        }
                    }

                }

            },
            computedClass(){
                if(this.isSmallDeviceEnabled && this.isLangBlockInverted){
                    return "sm invert";
                }else if(!this.isSmallDeviceEnabled && this.isLangBlockInverted){
                    return "invert";
                }else if(this.isSmallDeviceEnabled){
                    return "sm";
                }else{
                    return '';
                }
            },
            language(){
                return this.$store.getters.getCurrentlanguageData.translation_code;
            }
        },
        methods: {
            getStrapiMedia,
            toggleListVisibility(){
                if(this.listClassCss == 'show-list'){
                    this.listClassCss = 'hide-list';
                }else{
                    this.listClassCss = 'show-list';
                }
            },
            changeLanguage(lang){
                this.$store.dispatch('setLanguage',lang)
                //this.activeLang = lang;
                this.toggleListVisibility();
            }
        },

        mounted() {
            var lang = localStorage.getItem('language');
            lang = JSON.parse(lang);
            if(lang){
                this.$store.dispatch('setLanguage',lang);
            }

        }
    }
</script>

<style>
    .cursor-hand{
        cursor: pointer;
        opacity: 0.8;
    }
    .show-list{
        display: block;
        opacity: 1;
        transition: opacity .25s ease-in;
        -moz-transition: opacity .25s ease-in;
        -webkit-transition: opacity .25s ease-in;
    }
    .hide-list{
        display: none;
        opacity: 0;
        transition: opacity .25s ease-out;
        -moz-transition: opacity .25s ease-out;
        -webkit-transition: opacity .25s ease-out;
    }
</style>
